.highlight {
  overflow-x: auto;
  position: relative;
  padding: 0;
  background-color: #f9f9f9;
  padding: 0.8em 0.8em 0.4em;
  box-shadow: 0 1px 1px rgba(0,0,0,0.125);
  line-height: 1.1em;
}
.highlight table,
.highlight tr,
.highlight td {
  width: 100%;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
}
.highlight pre {
  padding: 1.2em 1.5em;
  margin: 0;
}
.highlight .gutter {
  width: 1.5em;
}
.highlight .code pre {
  padding-left: 0.5em;
}
.highlight.html .code:after,
.highlight.js .code:after,
.highlight.bash .code:after,
.highlight.css .code:after {
  position: absolute;
  top: 0;
  right: 0;
  color: #ccc;
  text-align: right;
  font-size: 0.75em;
  padding: 5px 10px 0;
  line-height: 15px;
  height: 15px;
  font-weight: 600;
}
.highlight.html .code:after {
  content: 'HTML';
}
.highlight.js .code:after {
  content: 'JS';
}
.highlight.bash .code:after {
  content: 'Shell';
}
.highlight.css .code:after {
  content: 'CSS';
}